@tailwind base;
@tailwind components;
@tailwind utilities;

.maker {
  background: linear-gradient(transparent 0%, #dda0dd 80%);
}

.fuchidori {
  color: #000;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}

.border-double {
  border-bottom: double;
}

.reason-bg {
  background-size: cover;
  background-image: url("./assets/reason-bg.png");
}

@media screen and (max-width: 480px) {
  .reason-bg {
    width: 100%;
    height: 295px;
  }
}

.request-flow-bg {
  background-size: cover;
  background-image: url("./assets/request-flow-bg.png");
}

@media screen and (max-width: 480px) {
  .request-flow-bg {
    background-image: url("./assets/request-flow-bg-iPhone.png");
    width: 100%;
    height: 80%;
  }
}

.promise-bg {
  background-size: cover;
  background-image: url("./assets/promise-bg.png");
}

@media screen and (max-width: 480px) {
  .promise-bg {
    background-image: url("./assets/promise-bg-iPhone.png");
  }
}

.staff-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/man-bg.png");
}

@media screen and (max-width: 480px) {
  .staff-bg {
    background-size: cover;
    background-image: url("./assets/man-bg-iPhone.png");
  }
}

.area-bg {
  background-size: cover;
  background-image: url("./assets/area-bg.png");
}

@media screen and (max-width: 480px) {
  .area-bg {
    background-image: url("./assets/area-bg-iPhone.png");
  }
}

.mt-minus {
  margin-top: -45px;
}

@media screen and (max-width: 480px) {
  .mt-minus {
    margin-top: -27px;
  }
}

.mt-minus-3 {
  margin-top: -3px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
