@tailwind base;
@tailwind components;
@tailwind utilities;

.maker {
  background: linear-gradient(transparent 20%, #dda0dd 80%);
}

.border-double {
  border-bottom: double;
}

.reason-bg {
  background-size: cover;
  background-image: url("./assets/reason-bg.png");
}

@media screen and (max-width: 480px) {
  .reason-bg {
    width: 100%;
    height: 295px;
  }
}

.request-flow-bg {
  background-size: cover;
  background-image: url("./assets/request-flow-bg.png");
}

.mt-minus {
  margin-top: -45px;
}

@media screen and (max-width: 480px) {
  .mt-minus {
    margin-top: -27px;
  }
}

.mt-minus-7 {
  margin-top: -7px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
